.Home {
  /* position: absolute; */
  /* top: 0; */
  /* left: 200px; */
  /* max-width: 88vw;
  min-height: 90vh; */
  background: rgb(110, 134, 236);
  background: linear-gradient(
    118deg,
    rgba(110, 134, 236, 1) 10%,
    rgba(34, 26, 101, 1) 100%
  );
  padding-bottom: 3rem;
  position: fixed;
  right:0;
  min-width: 85vw;
  min-height: 90vh;

}
