.Layout {
  background: #121212;
  padding-bottom: 3rem;
  position: fixed;
  right: 0;
  width: 85vw;
  min-height: 90vh;
  max-height: 90vh;
  overflow: auto;
}

.Layout::-webkit-scrollbar {
  background-color: rgb(157, 158, 158);
  height: 5px;
  width: 5px;
}
.Layout::-webkit-scrollbar-thumb {
  background-color: #070d14;
}
.Layout::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
