.MediaPlayerContainer {
  min-width: 100vw;
  height: 15vh;
  position: fixed;
  bottom: 0;
  background-color: #181818;
  color: white;
}

.MediaPlayerIcon{
    transform: scale(1.5);
}

.VolumeBar{
    transform: scaleX(4);
}

.ProgressBar{
    transform: scaleX(12);
}

.RightOfContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    bottom: -1rem;
    right: 2rem;
}

.MiddleOfContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -1.25rem;
}

.MiddleLogo{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
    transform: scale(1.75);

}
